.user-profile {
    position: relative;
    display: inline-block;
}

.user_button {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: aqua; /* Placeholder color */
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-menu a,
.dropdown-menu button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
    background-color: #ddd;
}

.user-profile:hover .dropdown-menu {
    display: block;
}
